.RestCountries{
		display: flex;
		justify-content: space-between;
}
.countries{
		width: 35%;
		max-height: 680px;
		overflow: auto;
		border: 5px solid black;
		padding: 10px 20px;
		text-transform: uppercase;
		font-weight: bold;
}