.CountryInfo{
		width: 57%;
		max-height: 680px;
		overflow: auto;
		border: 5px solid black;
		padding: 10px 20px;
}
.CountryInfo h2{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 40px;
		color: darkred;
}
.border-with,
.capital{
		font-weight: bold;
		text-transform: uppercase;
}
li{
	font-weight: normal;
	margin-bottom: 10px;
}
span{
		font-weight: normal;
}
img{
		width: 500px;
		height: auto;
		border: 5px solid black;
}